.flex_button {
  flex-basis: 33%;
  margin: 10px;
}

.App {
  display: flex;
  flex-direction: column;
  margin: 0;
  border: 1px dashed rgb(99, 89, 89);
  height: 100vh;
}

.App-row-container {
  display: flex;
  flex-direction: row;
  margin: 0;
  border: 1px dashed rgb(99, 89, 89);
  padding: 20px;
}

.App-controls-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px dashed rgb(99, 89, 89);
  padding: 20px;
}

.App-content-container-75 {
  flex-basis: 75%;
  order: 1;
  padding: 20px;
  height: 100%;
  border: 1px dashed rgb(99, 89, 89);
}

.App-content-container-25 {
  flex-basis: 25%;
  order: 1;
  padding: 20px;
  height: 100%;
  border: 1px dashed rgb(99, 89, 89);
}

.App-content-column {
  display: flex;
  flex-direction: column;
  border: 1px dashed rgb(99, 89, 89);
}

.App-content-element {
  border: 1px dashed rgb(99, 89, 89);
  flex: 1;
}
.App-text-container {
  flex-basis: 50%;
  order: 2;
  padding: 20px;
  border: 1px dashed rgb(99, 89, 89);
}

.App-header {
  text-align: center;
  font-size: calc(10px + 2vmin);
}

#loader {
  position: fixed;
  z-index: 10;
  left: 36%;
  top: 40%;
  margin: auto;
}

.background-white {
  background-color: rgba(255, 255, 255);
}

.background-grey {
  background-color: rgb(45, 46, 47);
}

.box-scroll {
  max-height: 60vh;
  overflow-y: auto;
}

.menu {
  font-size: 14px;
  background-color: #fff;
  border-radius: 2px;
  padding: 5px 0 5px 0;
  width: 150px;
  height: auto;
  margin: 0;
  /* use absolute positioning  */
  position: absolute;
  list-style: none;
  box-shadow: 0 0 20px 0 #ccc;
  opacity: 1;
  transition: opacity 0.5s linear;
}
