body {
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif, Helvetica, sans-serif;
  font-size: 14px;
}

.App {
  margin-left: auto;
  margin-right: auto;
  /* max-width: 70%; */
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  border: 0.5px solid rgba(0, 0, 0, 0.1);
}

.App-row-container {
  display: flex;
  flex-direction: row;
  margin: 0;
  border-radius: 15px;
  border: 1px solid rgba(215, 211, 211, 0.955);
  padding: 20px;
}

.App-controls-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.App-content-container-75 {
  flex-basis: 60%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-preferred-size: 100px;
  /* flex-basis: 100px; */
  padding: 10px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  text-transform: capitalize;
  text-align: center;
}

.App-content-container-25 {
  flex-basis: 40%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-preferred-size: 100px;
  /* flex-basis: 100px; */
  padding: 10px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  text-transform: capitalize;
  text-align: center;
}

.App-content-column {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  border: 1px dashed rgba(215, 211, 211, 0.955);
  padding: 20px;
  overflow: auto;
}

.App-text-container {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 150px;
  flex-basis: 150px;
  padding: 5px;
  border-radius: 15px;
  background-color: rgb(144, 177, 240);
  color: white;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.App-header {
  text-align: center;
  font-size: calc(10px + 2vmin);
}

#loader {
  position: fixed;
  z-index: 10;
  left: 32%;
  top: 36%;
  margin: auto;
}

.background-white {
  transition: all 0.5s ease;
  background-color: rgba(255, 255, 255);
  border-radius: 15px;
}

.background-grey {
  transition: all 0.5s ease;
  background-color: rgba(215, 211, 211, 0.955);
  border-radius: 15px;
  /* rgba(215, 211, 211, 0.955) */
}

.box-scroll {
  max-height: 70vh;
  overflow: auto;
}

.menu {
  font-size: 14px;
  background-color: #fff;
  border-radius: 2px;
  padding: 5px 0 5px 0;
  width: 150px;
  height: auto;
  margin: 0;
  /* use absolute positioning  */
  position: absolute;
  list-style: none;
  box-shadow: 0 0 20px 0 #ccc;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.flex_button {
  flex-basis: 100%;
  margin: 10px;
}
