.flex_button {
  flex-basis: 33%;
  margin: 10px;
}

.App {
  display: flex;
  flex-direction: column;
  margin: 0;
  /* border: 1px dashed rgb(99, 89, 89); */
  height: 100vh;
}

.App-row-container {
  display: flex;
  flex-direction: row;
  margin: 0;
  border-radius: 15px;
  border: 1px solid rgba(215, 211, 211, 0.955);
  padding: 20px;
}

.App-controls-container {
  /* border-radius: 15px;
  border: 1px solid rgba(215, 211, 211, 0.955); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.App-content-container-75 {
  flex-basis: 66%;
  order: 1;
  padding: 20px;
  height: 100%;
  padding: 20px;
  /* border: 1px dashed rgb(99, 89, 89); */
}

.App-content-container-25 {
  flex-basis: 34%;
  order: 1;
  padding: 20px;
  height: 100%;
  padding: 20px;
  /* border: 1px dashed rgb(99, 89, 89); */
}

.App-content-column {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  border: 1px dashed rgba(215, 211, 211, 0.955);
  padding: 20px;
  overflow: auto;
}

.App-content-element {
  /* flex: 1; */
}
.App-text-container {
  flex-basis: 50%;
  order: 2;
  padding: 20px;

  /* border: 1px dashed rgb(99, 89, 89); */
}

.App-header {
  text-align: center;
  font-size: calc(10px + 2vmin);
}

#loader {
  position: fixed;
  z-index: 10;
  left: 30%;
  top: 40%;
  margin: auto;
}

.background-white {
  transition: all 0.5s ease;
  background-color: rgba(255, 255, 255);
  border-radius: 15px;
}

.background-grey {
  transition: all 0.5s ease;
  background-color: rgba(215, 211, 211, 0.955);
  border-radius: 15px;
  /* rgba(215, 211, 211, 0.955) */
}

.box-scroll {
  max-height: 60vh;
  overflow: auto;
}

.menu {
  font-size: 14px;
  background-color: #fff;
  border-radius: 2px;
  padding: 5px 0 5px 0;
  width: 150px;
  height: auto;
  margin: 0;
  /* use absolute positioning  */
  position: absolute;
  list-style: none;
  box-shadow: 0 0 20px 0 #ccc;
  opacity: 1;
  transition: opacity 0.5s linear;
}
